<!DOCTYPE html>
<html lang="en"
  style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box;">

<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=794">

</head>

<body
  style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; margin: 0; padding: 0; word-wrap: break-word; height: 1123px; background: #ffffff;">
  <div id="divMain"
    style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; background: #ffffff; margin-left: auto; margin-right: auto; position: relative; width: 794px; height: 1123px;">
    <div
      style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; position: absolute; left: 20px; top: 20px; width: 755px; height: 1083px;">
      <!--Body-->
      <div
        style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box;">
        {{content}}</div>
    </div>
  </div>
</body>

</html>